.entry-footer {
  display: none;
}

.site-footer {
  background-color: black;
  min-height: 450px;
  padding-top:90px;
  * {color:white;}
  .footer-column-container {
    width: 100%;
    max-width: 1400px;
    margin:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;

    .footer-column {
      width:30%;
      min-width: 310px;
      padding:10px;
      .footer-logo {
        max-width:250px;
      }
      .footer-address {
        font-size: 16px;
        margin-top:25px;
      }
    }
    .footer-menu-column {
      h3.footer-menu-header {
        font-family: Swiss721BT-Bold;
        font-size: 35px;
        line-height:1;
      }
      ul#footer-menu {
        list-style: none;
        margin: 50px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        li {
          margin-bottom: 20px;
          width: 210px;
          a {
            font-family: Swiss721BT-Bold;
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
      .footer-copyright-info {
        margin-top: 50px;
        font-size: 16px;
        text-align: center;
      }
    }
    .footer-column-right {
      text-align: center;
      .social-icons {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        a {
          margin-right: 25px;
          img {
            height:25px;
          }
        }
        a:last-child {
          margin:0;
        }
      }
    }

  }
}
