
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}




.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 1050px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul#primary-menu,	.main-navigation > ul  {
		display: flex;
	}
}




//CUSTOM STYLES

.site-header, .site-header * {
  overflow: visible;
  z-index: 99999999;

}


.site-header {
	width:100%;
	position: absolute;

	.contained-width {
  display: flex;
  margin:auto;
  width:100%;


  .site-branding {
    width:200px;
    img {
    height: 100px;
    width: 100px;
    }
    .site-title {
      display: none;
    }
  }

  .main-navigation {
    width:calc(100% - 200px);
    display: flex;
    justify-content: flex-end;


    a  {
      color:black;
      font-family: "Swiss721BT-Bold";
      white-space:nowrap;
    }

    .menu-main-menu-container {
      max-width: 550px;
      //overflow:hidden;
      position: relative;
      .preview-image {display: none;}
      > ul {
        margin-top:56px;
         > li {
          margin-right:45px;
          font-size:23px;
          height:100%;
          overflow: visible;
          > ul.sub-menu {
            display: none;
            position: absolute;
          	top:150px;
          	left:0;

            * {
              color:white;
            }
          }
        }
        li:last-child {
          margin-right: 25px;
        }
        li:hover ul, li:hover ul * {
          //display: block;
        }
      }

    }

    .icon-links {
      margin-top:56px;
      a {
        margin-left:15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:40px;
        img {
          height:25px;
          width:25px;
        }
        label {
          display: none;
        }

      }
    }

    .right-links {
      display: block;
      padding-left: 50px;
      border-left: 1px solid black;
      margin-left: 40px;
      padding-top: 6px;
      height: 80px;
      li {
        margin-top: 5px;
        a {
          font-family: "Swiss721BT-Regular";
        }
      }
    }


  }}
}



@keyframes mymove {
  from {background-color: white;}
  to {background-color: black;}
}

.site-header.expanded {
  animation: mymove .2s forwards;
  height:410px;
  * {
    color:white !important;
    border-color: white !important;
  }
  img:not(.preview-image) {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
  .icon-links li a label {
    display: block;
  }
}
li.expanded > ul.sub-menu {
  display: flex !important;

  > li {
    margin-right: 70px;
      > ul {
      display:flex;
      flex-direction: column;
      a {
        font-family: "Swiss721BT-Regular" !important;
        font-size: 20px;
      }
    }
  }
}

li.expanded > a > img.preview-image {
  display: block !important ;
  position: absolute;
  top:150px;
  left:-270px;
  width:220px;
}

.entry-header {
  display: none;
}
