
.ccModal {
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-color:rgba(0, 0, 0, 0.85);
	z-index:99999;
	overflow-y: auto;
}

.admin-bar .ccModal {
	top:32px;
}

.ccModal::before {
	content: 'Fetching Weather...'; // NOTE: TRANSLATE
	position: absolute;
	top:20px;
	left:20px;
	z-index: -1;
}


.ccCloseModal::before {
	content: '';
	display: block;
	height:30px;
	width:30px;
	background-image: url('../assets/images/more.svg');
	background-position: center;
	background-size: contain;



}
.ccModal.loaded::before {
	display: none;
}
.ccModal button.ccCloseModal {

	position: absolute;
	top:0;
	right:0;
	color:white;
	cursor:pointer;
  background: transparent;
  border: none;
}


.weather-colomn-container {
  position: absolute;
  top:100px;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  padding:20px;
  justify-content: center;
  .weather-column {
    width:50%;
    max-width: 600px;
  }
  .weather-image-column {
    background-position: center;
    background-size: cover;
  }
  .weather-text-column {
    background: white;
    padding:40px;
    h2 {
      font-family: "Swiss721BT-Bold";
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: 20px;      
    }
    .weather-section {
      padding-bottom:15px;
      h4.weather-section-label {
        font-family: "Swiss721BT-Bold";
      }
      a.weather-info-link {
        color:black !important;
        text-decoration: none;
        font-family: "Swiss721BT-Bold";
        img {
          filter: invert(100%);
          width: 35px;
          position: relative;
          top: 2px;
          left: 5px;
        }
      }
    }
  }
}
