@import 'starter';
@import 'header';
@import 'modules';


footer {
  border-top: 2px solid black;
}


.content-flexible {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
}
